.TodoList {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

.TodoList li {
  border-radius: 100px;
  font-size: 18px;
  background: #fff;
  margin: 20px 0;
}

.TodoList li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
}

.TodoList li input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.TodoList li div {
  transform: rotate(45deg);
  display: block;
  width: 24px;
  height: 24px;
  background: #272D2D;
  color: #F6F8FF;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 19px;
}

.TodoList li span {
  width: 100%;
  padding: 0 20px;
}

.TodoCompleted {
  filter: grayscale(1);
  background: rgba(0,0,0,.1)!important;
}

.TodoCompleted span {
  text-decoration: line-through;
}

.NoTodos {
  text-align: center;
  font-size: 18px;
  color: #50514F
}

